@{Layout="Layout.cshtml";}
<h1>About</h1>
<hr />
<p>I grew up in Oklahoma and finished my highschool career at Edmond Santa Fe Highschool.<br>While in my senior summer during the transition beween highschool and college I opened a snowcone stand in Edmond.<br>Being able to enjoy running and learning about business processes helped me in declaring my major and pursuing a BBA.</p>
