@{Layout="Layout.cshtml";}
<h1 class="mx-auto d-block">Home</h1>
<img src="headshot.jpg" class="mx-auto d-block" style="width:500px;height:500px;border:0;" alt="Professional Photo">
<p>This is my home page for a website i've built. Its an html website hosted on azure.</p>
<br />
<p>The purpose of this site is to showcase my skills learned throughout my carreer at ou. Most of my knowledge of coding has come from MIS 3013 and MIS 3033 with some from MIS 33553.</p>
