@{Layout="Layout.cshtml";}
<h1>Projects</h1>
<hr />
<p>One of the most helpful projects i've completed was for MIS 3353.<br>Our project was to create a databse and website and link them together.<br>I had the role of programmer for the team and was in charge of coding the website and connecting to the database.<br>This taught how to work on github as well as sharpen my html skills.<br>I also learned how much bootstrap can help in building websites as well as other resources.<br>This is the link to our website for the project: <a href="https://mis3353project.azurewebsites.net/">Project</a></p>
<hr />
